@model IEnumerable<Restaurant>
@{
    ViewBag.Title = "Welcome in our restaurant :)";
}

<h3>@ViewBag.Title</h3>
<p>Please choose one restaurant</p>
@Model.Count()

<table class="table mb-4">
@foreach(var restaurant in Model)
{
    <tr>
        <td>
           @restaurant.Name

        </td>
        <td>
                @Html.ActionLink("Edit", "Edit", new { id = restaurant.Id}) |
                @Html.ActionLink("Details", "Details", new {id = restaurant.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = restaurant.Id})
        </td>
    </tr>
    
}
</table>
@Html.ActionLink("Create restuarant", "Create")